@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* barra de rolagem */
html ::-webkit-scrollbar {
    width: 10px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #db2727;
}

html ::-webkit-scrollbar-track {
    background: #ededed00;
}

/* fim barra de rolagem */

.container {
    max-width: 90%;
    margin: auto;
}

.scontainer {
    max-width: 90%;
    margin: auto;
}

.flex {
    display: flex;
}

.flex1 {
    display: flex;
    justify-content: space-between;
}

/*---------- HEADER --------*/
nav {
    position: fixed;
    /* Garante que o nav fique fixo no topo da tela */
    top: 0;
    left: 0;
    width: 100%;
    /* Para o nav ocupar a largura completa */
    height: 10vh;
    line-height: 10vh;
    background: #ffffff;
    text-align: center;
    box-shadow: 1px 1px 10px #00000094;
    z-index: 100;
}

.logo img {
    margin-left: 20px;
    width: 60px;
    mix-blend-mode: darken;
}

.logo {
    display: flex;
    gap: 10px;
}

.logo h1 {
    font-size: 30px;
    color: #2e2d2d;
}

nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    margin-left: 150px;
}

nav ul li {
    margin-left: 30px;
    font-weight: 700;
}

nav ul li .none {
    cursor: default;
}

nav ul li .none:hover {
    color: #000;
}

nav li a {
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    transition: .3s ease;
}

nav li a:hover {
    color: #db2727;
}

.media_button i {
    font-size: 20px;
    display: none;
}

.account i {
    color: #db2727;
    margin: 22px 20px 0 0;
}

button {
    padding: 15px 50px;
    margin: 20px 20px 0 0;
    border-radius: 50px;
    border: none;
    background: #db2727;
    color: white;
}

@media only screen and (max-width:768px) {
    .main_list {
        overflow: hidden;
        height: 0;
        width: 100%;
        position: absolute;
        left: 0;
        top: 10%;
        margin-top: 60px;
        padding: 0 0 0 4px;
        transition: 0.5s;
    }

    nav .show_list {
        height: 250px;
        background: #eeeeee;
        border: 1px solid #cccbcb;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li a {
        line-height: 40px;
        display: table;
        margin-left: -170px;
    }

    .media_button i {
        display: block;
        margin-top: 10px;
        border-radius: 30%;
        background: #db2727;
        padding: 10px;
        color: white;
        cursor: pointer;
    }

    .account {
        display: none;
    }
}

/*---------- FIM HEADER --------*/


/*---------- HOME --------*/
.home .containers {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url(/images/Captura\ de\ tela\ 2024-11-24\ 130707.png);
    background-size: cover;
    background-position: center;
    padding: 20px 6%;
    position: relative;
    z-index: 1;
}

.home .content {
    margin-top: 10%;
}

.home .content h2 {
    color: #db2727;
    font-size: 34px;
}

.home .content h1 {
    font-size: 100px;
    color: #222;
    margin-top: -30px;
}

.home .content p {
    max-width: 380px;
    font-weight: 500;
    font-size: 14px;
    color: #555;
    margin-top: -20px;
}

.home .content h3 {
    font-weight: 600;
    font-size: 24px;
}

.home .colours-select div {
    background: #333;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    transition: .3s ease;
}

.home .colours-select div:hover {
    transform: scale(1.10);
}

.home .colours-select {
    display: flex;
    margin-top: 30px;
}

.home .colours-select #red {
    background: #db2727;
}

.home .colours-select #red:hover {
    box-shadow: 0 0 10px #db2727;
}

.home .colours-select #blue {
    background: #0044ff;
}

.home .colours-select #blue:hover {
    box-shadow: 0 0 10px #0044ff;
}

.home .colours-select #black:hover {
    box-shadow: 0 0 10px #222;
}

.price {
    font-size: 35px;
    font-weight: bold;
}

.original-price {
    font-size: 25px;
    color: #999;
    text-decoration: line-through;
    margin-right: 10px;
}

.discounted-price {
    font-size: 35px;
    font-weight: bold;
    color: #0acc5b;
}

.home .image img {
    margin-top: 50px;
    max-width: 100%;
    /* Faz a imagem se ajustar ao contêiner */
    height: auto;
    /* Mantém a proporção */
    object-fit: cover;
}

.home .content-text {
    flex: 1;
    /* Ocupa o espaço restante */
    padding: 20px;
    /* Adiciona espaço interno */
}

.home .image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containers .image {
    mix-blend-mode: darken;
}

/*---------- FIM HOME --------*/


/*---------- LATEST --------*/
.top {
    margin-top: 100px;
}

.mtop {
    margin-top: 50px;
}

.heading {
    text-align: center;
    position: relative;
    margin-bottom: 120px;
}

.heading h1 {
    font-size: 40px;
    font-weight: 400;
}

#heading h1{
    font-size: 40px;
    font-weight: 400;
}

.heading button {
    padding: 15px 80px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 42%;
    font-size: 15px;
}

.heading .lines {
    position: relative;
    width: 100%;
}

.heading .line {
    border: 1px solid #e3e3e3;
    width: 45%;
    height: 3px;
    border-left: none;
    position: absolute;
    left: 0;
    top: 43px;
    z-index: 1;
}

.heading .line i {
    position: absolute;
    right: -2px;
    top: -7px;
    color: white;
}

.heading .line2 {
    right: 0;
    left: 59%;
    border-radius: none;
}

.heading .line2 i {
    left: -100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding-left: 25px;
}

.latest .scontainer {
    padding: 50px;
    text-align: center;
}

.latest .box {
    background: #f9f9f9;

    padding: 30px;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    transition: 0.5s;
}

.latest .box:hover {
    border: 1px solid #db2727;
    box-shadow: 0 0 10px #db2727;
    cursor: pointer;
}

.latest .img {
    position: relative;
}

.latest .img .flex1 {
    width: 100%;
    position: absolute;
    top: 0;
}

.latest .img label {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: white;
    background: #db2727;
    text-align: center;
}

.latest .img i {
    color: #db2727;
    font-size: 20px;
    line-height: 50px;
}

.latest .detalis h3 {
    color: #db2727;
}

.latest .detalis h2 {
    font-weight: 400;
    color: #db2727;
    margin: 20px 0 20px 0;
}

.latest .detalis h2 span {
    text-decoration: line-through;
    font-size: 14px;
    color: grey;
}

.latest .detalis button {
    margin: 0;
    margin-top: 20px;
}



/*----------footer--------*/
@media only screen and (max-width:768px) {

    /*----------home--------*/


    /*----------home--------*/

    /*----------latest--------*/
    .heading button {
        left: 30%;
    }

    .heading .line {
        display: none;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .latest .scontainer {
        padding: 0;
        margin-left: 8px;
    }

    .latest .box {
        padding: 10px;
    }

    /*----------latest--------*/
    /*----------slider--------*/
    .slider .item {
        flex-direction: column;
        flex-direction: column-reverse;
    }

    /*----------slider--------*/
    .shipping .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width:511px) {
    .home::after {
        height: 100vh;
    }

    .time_box {
        display: none;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .heading h1 {
        font-size: 35px;
    }

    .heading button {
        left: 20%;
    }

    footer .scontainer,
    .latest .scontainer {
        padding: 0;
    }

    .shipping {
        padding: 50px 0 50px 0;
    }
}

/*---------- FIM LATEST --------*/

/*---------- SLIDER --------*/
ul {
    list-style: none;
}

.slider {
    background: #db2727;
    padding: 80px 0 0 0;
    color: white;
}

.slider .left {
    margin-left: 30px;
}

.slider p {
    font-size: 20px;
}

.slider h1 {
    font-size: 30px;
    font-weight: 400;
    margin: 20px 0 20px 0;
}

.slider ul li {
    font-size: 22px;
    opacity: 0.8;
    margin-top: 15px;
    white-space: 5px;
}

.slider h2 {
    font-size: 30px;
    font-weight: 400;
    margin: 40px 0 30px 0;
}

.owl-nav .owl-prev i,
.owl-nav .owl-next i {
    position: absolute;
    top: 35%;
    cursor: pointer;
    font-size: 50px;
}

.owl-nav .owl-prev i {
    left: -33px;
}

.owl-nav .owl-next i {
    right: -33px;
}

.owl-nav .owl-prev i:hover,
.owl-nav .owl-next i:hover {
    color: #000000;
}

.btn2 {
    margin-top: -15px;
    background: #fff;
    color: #db2727;
    font-weight: 700;
}

.ani_image img {
    margin-left: 20px;
}

/*---------- FIM SLIDER --------*/



.Popular {
    color: black;
}

.Popular.latest {
    background: none;
}




/*----------shipping--------*/
.shipping {
    padding: 50px;
    background: #db2727;
    color: white;
}

.shipping .img {
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    margin-right: 20px;
    padding: 30px;
}

.shipping i {
    font-size: 20px;
}

.shipping h3 {
    font-weight: 400;
    margin-bottom: 10px;
}

.shipping p {
    opacity: 0.8;
    line-height: 20px;
}

/*----------shipping--------*/
/*----------footer--------*/
footer {
    background: black;
}

.logos {
    display: flex;
    gap: 10px;
}

.logos img {
    width: 60px;
}

.logos p {
    font-size: 30px;
}

footer .scontainer {
    padding: 70px 50px;
    color: white;
}

footer h3 {
    margin: 30px 0 20px 0;
}

footer h1 {
    color: white;
    margin: 15px 0 10px 0;
}

footer li,
footer p {
    margin: 15px 0 10px 0;
    color: grey;
}

footer input {
    padding: 10px;
    background: none;
    border: none;
}

footer .input {
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
}

footer .input i {
    margin: 15px;
}

footer .social_media i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid grey;
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    color: grey;
}

/*----------footer--------*/
@media only screen and (max-width:768px) {

    /*----------home--------*/
    .home .content {
        flex-direction: column;
    }

    .left,
    .right {
        width: 100%;
    }

    .home .left {
        padding: 50px 100px 50px 50px;
    }

    .home::after {
        background-size: cover;
        height: 70vh;
    }

    .ani_image img {
        width: 100%;
        height: 100%;
    }

    /*----------home--------*/
    /*----------latest--------*/
    .heading button {
        left: 30%;
    }

    .heading .line {
        display: none;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .latest {
        margin-left: 50px;
    }

    .latest .lines {
        padding: 0;
    }

    .latest button {
        margin-left: -10px;
    }

    .latest .box {
        margin-left: -25px;
        padding: 10px;
    }

    /*----------latest--------*/
    /*----------slider--------*/
    .slider .item {
        flex-direction: column;
        flex-direction: column-reverse;
    }

    /*----------slider--------*/
    .shipping .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width:511px) {
    .home::after {
        height: 100vh;
    }

    .time_box {
        display: none;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .heading h1 {
        font-size: 35px;
    }

    .heading button {
        left: 20%;
    }

    footer .scontainer,
    .latest .scontainer {
        padding: 0;
    }

    .shipping {
        padding: 50px 0 50px 0;
    }
}